@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    ns('SoftwareNet.Web.Forms.Mantenimiento.Resources');
    SoftwareNet.Web.Forms.Mantenimiento.Resources.EtiquetaTitulo='';
</script>
<div class="wizard-container">
    <div class="card wizard-card ct-wizard-red" id="wizard">


        <div class="wizard-header">
            <div class="row m-x-sm">
                <div class="col-md-4">
                    <h4 class="m-t-sm">Grupo Trabajador</h4>
                </div>
            </div>
        </div>

        <div class="bg-divider"></div>

        <div class="card-body">
            <div class="row" style="margin-top:6px;">
                <div class="col-md-4">

                    <button type="button" class="btn btn-primary" id="btnAgregar">Agregar Nuevo Grupo</button>
                    <button class="btn btn-primary btn-icon" data-container="body" title="dddddddd" data-placement="bottom" data-toggle="tooltip" type="button">
                        <span class="icon icon-bell-o sq-24"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="gridMantenimiento" class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th>Editar</th>
                                <th>Anular</th>
                                <th style="display:none;"></th>
                                <th>Nombre</th>
                                <th>Estado</th>
                                <th style="display:none;"></th>
                            </tr>
                        </thead>


                    </table>

                </div>

            </div>


        </div>
    </div>
</div>



@section Modales{


    <div id="modalMantenimiento" role="dialog" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary" style="cursor:pointer;">Grupo Trabajador </div>
                <div class="modal-body">


                    <form id="frmModel" name="frmModel" data-toggle="validator" method="post" enctype="multipart/form-data">
                        <input type="hidden" id="hdnId" name="hdnId" value="0" />
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Descripción<span class="text-primary m-l-sm">(*)</span></label>
                                        <textarea maxlength="100" class="form-control" id="txtNombre" name="txtNombre" required></textarea>
                                        <p style="color:#d9230f;" id="contadorTexto">Cantidad de caracteres: 0/100</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label> <span class="text-primary m-l-sm">(*) Campo obligatoro</span></label>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="m-t-lg text-center">
                            <button id="btnGuardar" name="btnGuardar" class="btn btn-primary" type="button">Guardar</button>
                            <button class="btn btn-default m-l-lg" data-dismiss="modal" type="button">Cancelar</button>
                        </div>
                    </div>

                </div>
                <!--<div class="modal-footer"></div>-->
            </div>
        </div>
    </div>

    <div class="contenedoralerta"> </div>
    <div class="contenedorconfirmacion"></div>

}

@section Scripts
{
    <script type="text/javascript">

        ns('SoftwareNet.Web.Operacion.Mantenimiento.Actions')
        SoftwareNet.Web.Operacion.Mantenimiento.Actions.Inicio = '@Url.Action("Programacion", " Rendimiento")';
        SoftwareNet.Web.Operacion.Mantenimiento.Actions.Registrar = '@Url.Action("Procesar", " Rendimiento")';
        SoftwareNet.Web.Operacion.Mantenimiento.Actions.Buscar = '@Url.Action("GetAll", " Rendimiento")';
        SoftwareNet.Web.Operacion.Mantenimiento.Actions.Eliminar = '@Url.Action("Anular", " Rendimiento")';
    </script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/CodeCustom/Programacion/Consulta/Controller.js?id=3.3")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/CodeCustom/Programacion/Consulta/Index.js?id=23")"></script>



}

