@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Gestion_Rendimiento_Frontend.Models.RendimientoViewModel
<div id="div_consulta">
    <div class="wizard-container">
        <div class="card wizard-card ct-wizard-red" id="wizard">
            <div class="wizard-header">
                <div class="row m-x-sm">
                    <div class="col-md-4">
                        <h4 class="m-t-sm">Seguimiento</h4>
                    </div>
                    <div class="col-md-8 text-right">
                    </div>
                </div>
            </div>
            <div class="bg-divider"></div>
            <br />
            <div class="card m-l-md m-r-md">
                <div class="card-header p-y-sm">
                    Buscar por:
                    <div class="card-actions">
                        <button type="button" class="card-action card-toggler" title="Collapse" aria-expanded="true"></button>
                    </div>
                </div>
                <div class="card-body p-b-sm m-b-sm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddl_Organo_consulta">Órgano</label>
                                <select class="form-control" id="ID_AREA_CONSULTA" name="ID_AREA_CONSULTA">
                                    <option value="0">---Todos-----</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtRuc_Consulta">Unidad Orgánica</label>
                                <select class="form-control" id="ID_OFICINA_CONSULTA" name="ID_OFICINA_CONSULTA">
                                    <option value="" selected="selected">---Todos-----</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-left m-l-md m-r-md">
                <div class="col-md-6">
                    <div class="row text-lef">
                        <button class="btn btn-default" type="button" id="btnExportar" name="btnExportar">
                            <i class="icon icon-file-excel-o icon-lg m-r-sm"></i>
                            Exportar
                        </button>
              @*          <button class="btn btn-danger" type="button" id="btnBotonFirmar" name="btnBotonFirmar">
                            <i class="icon icon-spinner icon-lg m-r-sm"></i>
                            Firmar
                        </button>*@
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row text-right">
                        <button class="btn btn-primary" type="button" id="btnBotonBuscar" name="btnBotonBuscar">
                            <i class="icon icon-search icon-lg m-r-sm"></i>
                            Buscar
                        </button>
                  
                    </div>
                </div>
            </div>
            <br />
            <div class="card card-body m-l-md m-r-md">
                <div class="table-responsive">
                    <table id="gridSeguimiento" class="table table-striped table-bordered">
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
@section Modales{
    <div id="modalSeguimiento" role="dialog" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header bg-primary" style="cursor:pointer;">
                    <h4 class="modal-title">Planificación</h4>
                </div>
                <div class="modal-body">
                    <form id="frmModel" name="frmModel" data-toggle="validator" method="post" enctype="multipart/form-data">
                        <input type="hidden" id="hdnIdPersonal" name="hdnIdPersonal" value="0" />
                        <input type="hidden" id="hdnAnio" name="hdnAnio" value="0" />
                  @*      <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Evaluador/a (Jefe Directo)<span class="text-primary m-l-sm">(*)</span></label>
                                    <select class="form-control" required id="ID_EVALUADOR" name="ID_EVALUADOR">
                                        <option value="" selected="selected">---Seleccionar-----</option>
                                        @{
                                            foreach (var item in Model.Evaluadores)
                                            {
                                                <option value=@item.ID_PERSONA>@item.NOMBRE_COMPLETO</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="card">
                                    <div class="section-header">
                                        <b>Detalle de prioridad</b>
                                    </div>
                                    <div class="card-body">
                                    @*    <div class="col-md-12 btn_agr">
                                            <div class="row text-left">
                                                <a style="font-weight: bold;font-size: 12px;" href='javascript:void(0);' class="text-info" id="BtnAgregarPrioridad"><i class='icon icon-plus m-r-sm'></i>Clic aquí para agregar una nueva prioridad</a>
                                            </div>
                                        </div>*@
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table id="gridMantenimiento" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr style='background-color:#FCE4D6;'>
                                                                <th colspan='5'>PRIORIDADES ANUALES DE GESTIÓN DEL ÓRGANO O UNIDAD ORGÁNICA</th>
                                                                <th style="text-align:center;display:none"></th>
                                                                <th style="text-align:center;display:none"></th>
                                                                <th style="text-align:center;display:none"></th>
                                                                <th style="text-align:center;display:none"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="gridBody"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <label> <span class="text-primary m-l-sm">(*) Campo obligatoro</span></label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="m-t-lg text-center">
                            <button class="btn btn-default m-l-lg" data-dismiss="modal" type="button">Cancelar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="modalRegistroSeg" role="dialog" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header bg-primary" style="cursor:pointer;">
                    <h4 class="modal-title">Registro Seguimiento</h4>
                </div>
                <div class="modal-body">
                    <form id="frmModelRegSeguimiento" name="frmModelRegSeguimiento" data-toggle="validator" method="post" enctype="multipart/form-data">
                        <input type="hidden" id="hdnIdProyecto" name="hdnIdProyecto" value="0" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Nivel de logro<span class="text-primary m-l-sm">(*)</span></label>
                                    <select class="form-control" required id="ID_TIPO_NIVEL" name="ID_TIPO_NIVEL">
                                        <option value="" selected="selected">---Seleccionar-----</option>
                                        @{
                                            foreach (var item in Model.NivelSeguimiento)
                                            {
                                                <option value=@item.ID_TIPO_NIVEL>@item.DESCRIPCION</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Comentarios<span class="text-primary m-l-sm">(*)</span></label>
                                        <textarea rows="3" cols="50" id="TXT_DES_SEGUIMIENTO" name="TXT_DES_SEGUIMIENTO" maxlength='4000' class='form-control' required></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Informe<span class="text-primary m-l-sm"></span></label>
                                    <input type='file'  id="fileArchivo"  name="fileArchivo" />
                                </div>
                            </div>
                        </div>


                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <label> <span class="text-primary m-l-sm">(*) Campo obligatoro</span></label>
                            </div>
                            <div class="col-md-6" style="text-align:end">
                                <button id="btnRegistrarSeg" name="btnRegistrarSeg" class="btn btn-primary" type="button">Registrar Seguimiento</button>
                            </div>
                            
                        </div>
                    </form>
                </div>
                <div class="card card-body m-l-md m-r-md">
                    <div class="table-responsive">
                        <table id="gridSeguimientoRegistro" class="table table-striped table-bordered">
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="m-t-lg text-center">
                            <button class="btn btn-default m-l-lg" data-dismiss="modal" type="button">Cancelar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="contenedoralerta"> </div>
    <div class="contenedorconfirmacion"></div>

}
<style>

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
@section Scripts
    {
    <script type="text/javascript">
        ns('SoftwareNet.Web.Operacion.Seguimiento.Actions')
        SoftwareNet.Web.Operacion.Seguimiento.Actions.Buscar = '@Url.Action("GetAll_Seguimiento", "Rendimiento")';
        SoftwareNet.Web.Operacion.Seguimiento.Actions.ExportarExcel = '@Url.Action("ExportarExcelSeguimiento", "Rendimiento")';
        SoftwareNet.Web.Operacion.Seguimiento.Actions.NuevaFila = '@Url.Action("GenerarHTML_Seg", "Rendimiento")';
        SoftwareNet.Web.Operacion.Seguimiento.Actions.GuardarSeguimiento = '@Url.Action("GuardarSeguimiento", "Rendimiento")';
        SoftwareNet.Web.Operacion.Seguimiento.Actions.BuscarSeguimientoProyecto = '@Url.Action("GetAll_SeguimientoProyecto", "Rendimiento")';
        SoftwareNet.Web.Operacion.Seguimiento.Actions.DeleteSeguimiento = '@Url.Action("DeleteSeguimiento", "Rendimiento")';
        SoftwareNet.Web.Operacion.Seguimiento.Actions.DescargarArchivo = '@Url.Action("DescargaArchivo", "Rendimiento")';
    </script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/CodeCustom/Rendimiento/Seguimiento/Controller.js?id=1")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/CodeCustom/Rendimiento/Seguimiento/Index.js?id=45.3")"></script>



}
